<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact</title>
</head>

<body>
    <div class="container">
        <div class="ui-menu J_menu"></div>
        <div class="ui-infoBg">
            <img src="./img/bg.jpg">
            <h4>联系我们</h4>
        </div>
        
        <div class="ui-infoMain">
            <p><strong>经纪人: </strong>Sharon 朱，
                <u>sharonzhulondon@gmail.com</u><strong><br>
</strong>
            </p>
            <p><strong>个人助理</strong><strong>：</strong>侯湃（中国），<a href="mailto:houpai363373@126.com">houpai363373@126.com</a>
            </p>
            <p>
                <u><strong><span style="font-size: large">出版社</span></strong></u><span style="font-size: large"><br>
</span>
                <br>
                <strong>Gérard Billaudot Editeur </strong>
                <br>(1985 – 2007作品)
                <br>14 rue de l'Echiquier
                <br>75010 Paris France
                <br>tel : (33) 01.47.70.14.46
                <br>fax : (33) 01.45.23.22.54
                <br>Web: <a href="http://www.billaudot.com">http://www.billaudot.com</a>
                <br>Email : <a href="mailto:info@billaudot.com">info@billaudot.com</a>
                <br>
                <br>
                <strong>Boosey & Hawkes Editons</strong>
                <br>(2008后作品)
                <br>71-91 ALDWYCH
                <br>London WC2B4HN United Kingdom
                <br>Tel : 44 20 7054 7200
                <br>
                <a href="mailto:ukhire@boosey.com">ukhire@boosey.com</a>
                <br>Web: <a href="http://www.boosey.com">www.boosey.com</a>
            </p>
            <p><strong>DURAND</strong><strong><br>
</strong>(《大红灯笼高高挂》、《夜深沉》)
                <br>Editions Musicales Durand
                <br>16, rue des fossés Saint-Jacques
                <br>75005 - Paris France
                <br>tel: +33 (0)1 44 41 50 68
                <br>fax: +33 (0)1 44 41 50 91
                <br>
                <a href="mailto:corinne.maillet@umusic.com">corinne.maillet@umusic.com</a>
                <br>
                <a href="mailto:location.rental@umusic.com">location.rental@umusic.com</a>
                <br>Web: <a href="http://www.durand-salabert-eschig.com">http://www.durand-salabert-eschig.com</a>
            </p>
            <p> </p>
        </div>
    </div>

    <!--下拉-->
    <div class="dropLis">
        <ul>
            <li>
                <a href='/public/pages/index/index.html'>首 页</a>
            </li>
            <li>
                <a href='/public/pages/info/info.html'>简 介</a>
            </li>
            <li>
                <a href='/public/pages/photos/photos.html'>影 像</a>
            </li>
            <li>
                <a href='/public/pages/contact/contact.html'>联 系</a>
            </li>
        </ul>
    </div>
    <!--下拉-->
</body>

</html>