<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="ui-menu J_menu"></div>
        <div class="ui-infoBg">
            <img src="./img/bg.jpg">
        </div>
        <h4>简介</h4>
        <div class="ui-infoMain">
            <p class="title">介绍</p>
            <p>123123123123123123123</p>
            <p>123123123123123123123</p>
            <p>123123123123123123123</p>
            <p class="title">成员</p>
            <p>123123123123123123123</p>
            <p>123123123123123123123</p>
            <p>123123123123123123123</p>
        </div>
    </div>
    <!--下拉-->
    <div class="dropLis">
        <ul>
            <li>
                <a href='/public/pages/index/index.html'>首 页</a>
            </li>
            <li>
                <a href='/public/pages/info/info.html'>简 介</a>
            </li>
            <li>
                <a href='/public/pages/photos/photos.html'>影 像</a>
            </li>
            <li>
                <a href='/public/pages/contact/contact.html'>联 系</a>
            </li>
        </ul>
    </div>
    <!--下拉-->
</body>
</html>