<!DOCTYPE">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <link type="text/css" rel="stylesheet" href="../css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />

    <style type="text/css">
        body,
        td,
        th {
            font-family: Arial, "Microsoft YaHei";
        }
    </style>


</head>

<body class="bg">
    <div class="menu">
        <div class="m2" style="display:none;">
            <ul id="jsddm">
                <li><a href="jianjie.html">简介</a>
                    <ul>
                        <li><a href="1">介 绍</a></li>
                        <li><a href="1">成 员</a></li>
                    </ul>
                </li>
                <li><a href="">作品</a>
                    <ul>
                        <li><a href="1">歌 曲</a></li>
                        <li><a href="1">游戏音乐及音效</a></li>
                        <li><a href="1">影视音乐</a></li>
                        <li><a href="1">录音与混音设计</a></li>
                    </ul>
                </li>
                <li><a href="">影像</a>
                    <ul>
                        <li><a href="">照 片</a></li>
                        <li><a href="">视 频</a></li>
                    </ul>
                </li>
                <li><a href="lianxi.html">联系</a></li>
            </ul>
        </div>
        <div class="m3">
            <a href="english.html">EN</a>/<a href="javascript:;">中文</a>
        </div>
    </div>
    <div class="logo"><img src="../img/logo.png" /></div>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</body>

</html>