<!DOCTYPE">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>陈其钢个人网站 | 陈其钢官方网站 | 陈其钢音乐工作坊 | 陈其钢作品 | 陈其钢音乐 | 陈其钢微信号</title>
    <meta name="Keywords" content="陈其钢,QiGang CHEN,陈其钢音乐工作坊,陈其钢音乐,陈其钢作品,陈其钢官网,陈其钢微信号,陈其钢的照片,陈其钢个人网站" />
    <meta name="description" content="陈其钢，中国作曲家,08年奥运会音乐总监,1951年8月28日出生于上海，旅法华人作曲家，毕业于中央音乐学院作曲系,1984年赴法国留学后，被梅西安收为关门弟子。代表作品：《我和你》，《蝶恋花》，芭蕾舞剧《大红灯笼高高挂》，《山楂树之恋》"
    />
    <link type="text/css" rel="stylesheet" href="../css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />

    <style type="text/css">
        body,
        td,
        th {
            font-family: Arial, "Microsoft YaHei";
        }
    </style>


</head>

<body class="bg">
    <div class="menu">
        <div class="m2" style="display:none;">
            <ul id="jsddm">
                <li><a href="jianjie.html">简介</a></li>
                <li><a href="">演出</a>
                    <ul>
                        <li><a href="">2017</a></li>
                    </ul>
                </li>
                <li><a href="">作品</a>
                    <ul>
                        <li><a href="1">室内乐</a></li>
                    </ul>
                </li>
                <li><a href="">录影</a>
                    <ul>
                        <li><a href="">照 片</a></li>
                    </ul>
                </li>
                <li><a href="">评论</a>
                    <ul>
                        <li><a href="">外文乐评</a></li>
                    </ul>
                </li>
                <li><a href="">社会活动</a>
                    <ul>
                        <li><a href="">躬耕书院 - 陈其钢音乐工作坊</a></li>
                    </ul>
                </li>
                <li><a href="">联系</a></li>
            </ul>
        </div>
        <div class="m3">
            <a href="english.html">EN</a>/<a href="javascript:;">中文</a>
        </div>
    </div>
    <div class="logo"><img src="../img/logo.png" /></div>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</body>

</html>