<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <link type="text/css" rel="stylesheet" href="../css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <div class="header">
        <div class="w1200">
            <div class="logo1"><a href="index.html"><img src="../img/logo1.png" /></a></div>
            <div class="menu2">
                <ul id="jsddm">
                <li><a href="jianjie.html">简介</a>
                    <ul>
                        <li><a href="1">介 绍</a></li>
                        <li><a href="1">成 员</a></li>
                    </ul>
                </li>
                <li><a href="">作品</a>
                    <ul>
                        <li><a href="1">歌 曲</a></li>
                        <li><a href="1">游戏音乐及音效</a></li>
                        <li><a href="1">影视音乐</a></li>
                        <li><a href="1">录音与混音设计</a></li>
                    </ul>
                </li>
                <li><a href="">影像</a>
                    <ul>
                        <li><a href="">照 片</a></li>
                        <li><a href="">视 频</a></li>
                    </ul>
                </li>
                <li><a href="lianxi.html">联系</a></li>
            </ul>
            </div>

        </div>
    </div>
    <div class="guanggaotu">
        <img src="../img/guanggaotu.jpg" />
    </div>

    <div class="detail">
        <div class="content">
            <div class="title"><span>简介</span></div>
            <p style="font-size: 14px; line-height: 24px"><span style="font-family: Verdana"><span style="font-size: medium"><strong>陈其钢</strong></span></span>
            </p>
            <p style="font-size: 14px; line-height: 24px"><span style="font-family: Verdana">旅法作曲家。青年时期就读于中央音乐学院，师从罗忠镕。1984年赴法国深造，被音乐大师梅西安纳为关门弟子。</span></p>
            <p style="font-size: 14px; line-height: 24px"><span style="font-family: Verdana">陈其钢近三十年间获奖无数，作品被世界各地广泛传播。1998年曾出任贝桑松国际作曲大赛的评委会主席。2005年获得法国音乐版权组织颁发的终身成就奖－《交响乐大奖》。2007－2008年，出任2008北京奥运会开幕式音乐总监，并创作了奥运会主题歌《我和你》。2013年法国政府向陈其钢颁发&ldquo;文学与艺术骑士勋章&rdquo;。</span></p>
            <p style="font-size: 14px; line-height: 24px"><span style="font-family: Verdana">自2015年起，陈其钢在浙江遂昌躬耕书院开办音乐工作坊，与年轻音乐人一起思考和探讨音乐创作的基本课题。</span></p>
            <p style="font-size: 14px; line-height: 24px"><span style="font-family: Verdana"><strong><u>主要作品</u></strong><br />
管弦乐：《五行》《源》《逝去的时光》《蝶恋花》《道情》《失乐园》《二黄》《万年欢》《乱弹》</span></p>
            <p style="font-size: 14px; line-height: 24px"><span style="font-family: Verdana">舞剧:《大红灯笼高高挂》</span></p>
            <p style="font-size: 14px; line-height: 24px"><span style="font-family: Verdana">电影音乐:《山楂树之恋》《金陵十三钗》《归来》</span></p>
            <p style="font-size: 14px; line-height: 24px"><span style="font-family: Verdana">歌曲:《我和你》</span></p>
            <p style="font-size: 14px; line-height: 24px"><span style="font-family: Verdana"><strong><u>出版社</u></strong><br />
G&eacute;rard Billaudot Editeur (巴黎, 1985至2007作品)<br />
Boosey &amp; Hawkes (伦敦, 2008后作品)</span><br />
                <span style="font-family: Verdana">DURAND (巴黎, 《大红灯笼高高挂》和《夜深沉》)</span></p>
            <p style="font-size: 14px; line-height: 24px">&nbsp;</p>
            <p style="font-size: 14px; line-height: 24px">&nbsp;</p>
            <p style="font-size: 14px; line-height: 24px">&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>



    <div class="footer">
        <h2>FOLLOW</h2>
        <div class="pic"><a href="http://weibo.com/u/2547862297?topnav=1&amp;wvr=6&amp;topsug=1&amp;is_hot=1" target="_blank"><img src="../img/footer1.png" /></a>
            <a href="https://www.facebook.com/profile.php?id=100009046828818" target="_blank"><img src="../img/footer.png" /></a>
        </div>
        <h3>本站图片摄影师：Chris CHRISTODOULOU，甘源，韩军, 梁智辉，孙楠，王宏，王小京，肖翊<br/> © Chenqigang.com All Rights Reserved. </h3>
    </div>


    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>

</body>

</html>